#main {
    width: 80%;
    height: 80%;
    background-image: url("img/scene1.jpg");
    background-size: cover;
}

#inventaire {
    width: 20%;
    height: 80%;
    float: right;
    background-color: blue;
}

#controles {
    width: 100%;
    height: 20%;
    background-color: red;
}
